nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav > ul {
  display: flex;
  gap: 50px;
}

nav li > a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.3em;
}
@media (max-width: 870px) {
  nav {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    gap: 20px;
  }
  nav a {
    display: block;
  }
}
